# 환경 변수
.env

# 가상 환경
venv/
*.pyc
__pycache__/

# 데이터베이스 파일 (로컬용)
db.sqlite3

# Django static & media files
/static/
/media/

# IDE 및 시스템 파일
.vscode/
.idea/
.DS_Store

# AWS private key
polly-olly.pem

# 기타
cookies.txt

# 마이그레이션 파일
*/migrations/
